autom4te.cache
configure
config.log
config.status
data/Makefile
Makefile
scripts/Config.pm

data/corpus-train.lst
data/corpus-test.lst
data/corpus-gen.lst
data/txt
data/utts
data/wav
data/raw_float
data/speech_params
data/cmp
data/labels/mono
data/labels/full
data/labels/mono.mlf
data/labels/full.mlf
data/lists
data/scp

models
stats
edfiles
trees
fal
gv
mspf
voices
gen
proto
configs
